<!-- catalog/book_detail.html -->

{% extends 'base.html' %}

{% block content %}
<h1>{{ book.title }}</h1>
<p><strong>Author:</strong> {{ book.author }}</p>
<p><strong>ISBN:</strong> {{ book.isbn }}</p>
<p><strong>Genre:</strong> {{ book.genre }}</p>
<p><strong>Published Date:</strong> {{ book.published_date }}</p>

{% if book.checked_out_by %}
    {% if book.checked_out_by == user %}
        <p>You have checked out this book.</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Return this book</button>
        </form>
    {% else %}
        <p>This book is currently checked out by another user.</p>
    {% endif %}
{% else %}
    <p>This book is available for checkout.</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Checkout this book</button>
    </form>
{% endif %}

<h3> Reviews </h3>
<ul>
    {% for review in book.reviews.all %}
    <li>{{ review.review }} {{ review.author }}</li>
    {% endfor %}
</ul>

<!-- Add a button to continue browsing -->
<div style="margin-top: 20px;">
    <form action="{% url 'catalog:book_catalog' %}" method="get">
        <button type="submit">Continue Browsing</button>
    </form>
</div>
{% endblock %}
